ios
888*.conf
var888*
*.o
*.a
*.out
*.class
tmp
.DS_Store
.vscode
*.pyc
var/*
var_*
var_slave/*
dev_ssdb.conf*
dev_slave.conf
*.swp
*_cpy_*
*.dSYM*
carrydb-server
tools/carrydb-dump
tools/carrydb-bench
tools/carrydb-repair
tools/carrydb-migrate
tools/leveldb-import
_pack
build_config.mk
log.txt
log_slave.txt
src/client/demo
src/client/hello-ssdb
api/cpp/SSDB_client.h
api/cpp/test
api/cpp/html
api/php/a.php
api/php/c.php
api/java/Test.java
src/util/test_sorted_set
leveldb
log/
